

.nav-section {
  display: flex;
}

#logo {
  border: 2px tomato dashed;
  width: 50%;
  background-color: rgb(30,30,30);
}

.logo-item{
  font-size: 40px;
  color: #fd6f00;
  margin-left: 16px;
}

.list-section{
  border: 2px tomato dashed;
  width: 50%;
  background-color: rgb(30,30,30);
  padding: 16px;
}

.list-item {
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.list-item a{
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.btn-primary {
  font-size: 20px;
  color: white;
  background-color: #fd6f00;
  border-color: #fd6f00;
  border-radius: 8px;
  padding: 10px 16px;
}